# Árboles de Regresión...

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("../../datasets/boston/Boston.csv")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
data.shape

(506, 14)

In [6]:
colnames = data.columns.values.tolist()
predictors = colnames[:13]
target = colnames[13]
X = data[predictors]
Y = data[target]

In [7]:
from sklearn.tree import DecisionTreeRegressor

In [8]:
regtree = DecisionTreeRegressor(min_samples_split = 30, min_samples_leaf = 10, random_state = 0)
regtree.fit(X, Y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=10,
           min_samples_split=30, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [9]:
preds = regtree.predict(data[predictors])

In [10]:
data["preds"] = preds

In [11]:
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,preds
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,22.840000
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,22.840000
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,35.247826
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,35.247826
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,35.247826

In [12]:
data[["preds", "medv"]]

         preds  medv
0    22.840000  24.0
1    22.840000  21.6
2    35.247826  34.7
3    35.247826  33.4
4    35.247826  36.2
5    24.058621  28.7
6    20.811111  22.9
7    20.020833  27.1
8    20.020833  16.5
9    20.020833  18.9
10   20.020833  15.0
11   20.811111  18.9
12   20.020833  21.7
13   20.624138  20.4
14   18.750000  18.2
15   20.624138  19.9
16   20.624138  23.1
17   19.408333  17.5
18   20.292308  20.2
19   20.292308  18.2
20   14.041667  13.6
21   18.750000  19.6
22   15.628000  15.2
23   14.041667  14.5
24   15.628000  15.6
25   15.628000  13.9
26   15.628000  16.6
27   15.628000  14.8
28   18.750000  18.4
29   18.750000  21.0
..         ...   ...
476  15.628000  16.7
477  12.630000  12.0
478  13.922222  14.6
479  20.783333  21.4
480  20.783333  23.0
481  27.247826  23.7
482  28.978261  25.0
483  20.783333  21.8
484  20.783333  20.6
485  20.783333  21.2
486  19.408333  19.1
487  20.783333  20.6
488  18.112500  15.2
489  14.041667   7.0
490  14.041667   8.1
491  18.112500  13.6
492  20.783333  20.1
493  20.292308  21.8
494  20.292308  24.5
495  19.408333  23.1
496  14.041667  19.7
497  18.750000  18.3
498  20.292308  21.2
499  19.408333  17.5
500  18.750000  16.8
501  22.840000  22.4
502  20.624138  20.6
503  28.978261  23.9
504  31.170000  22.0
505  20.624138  11.9

[506 rows x 2 columns]

In [20]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import numpy as np

In [25]:
cv = KFold(n_splits = 20, shuffle = True, random_state = 1)
scores = cross_val_score(regtree, X, Y, cv = cv, n_jobs = 1)
print(scores)
score = np.mean(scores)
print(score)

[0.72833636 0.87472018 0.84733362 0.82636994 0.875755   0.60892374
 0.51810312 0.5392045  0.59624879 0.90679104 0.67120276 0.86124602
 0.78630642 0.73447645 0.52422287 0.69438712 0.83466893 0.65062312
 0.54561481 0.91596484]
0.7270249821129726

In [28]:
list(zip(predictors, regtree.feature_importances_))

[('crim', 0.03421203230639308),
 ('zn', 0.0),
 ('indus', 0.0011605887788380146),
 ('chas', 0.0),
 ('nox', 0.01856163073811432),
 ('rm', 0.6308568014337028),
 ('age', 0.01725115143448847),
 ('dis', 0.0013745115995791378),
 ('rad', 0.0),
 ('tax', 0.0023698305298803803),
 ('ptratio', 0.009333247332530954),
 ('black', 0.0),
 ('lstat', 0.28488020584647283)]

## Random Forests...

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [42]:
forest = RandomForestRegressor(n_jobs = 2, oob_score = True, n_estimators = 10000)
forest.fit(X, Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10000, n_jobs=2,
           oob_score=True, random_state=None, verbose=0, warm_start=False)

In [43]:
data["rforest_pred"] = forest.oob_prediction_
data[["rforest_pred", "medv"]].head()

   rforest_pred  medv
0     28.484215  24.0
1     22.641318  21.6
2     34.415263  34.7
3     34.626073  33.4
4     34.297191  36.2

In [44]:
data["rforest_error2"] = (data["rforest_pred"] - data["medv"]) ** 2
sum(data["rforest_error2"]) / len(data)

10.260079531602807

In [45]:
forest.oob_score_

0.8784632376812909